<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626434709041-r5b2f99esegkc418e9t57v60tc5uatl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626434709041-r5b2f99esegkc418e9t57v60tc5uatl5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626434709041-gg2ac82f843im46paucei0e43mqejjfq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOzyOCXMBaxB0zfA7exYZeOkhY5XDkNs4</string>
	<key>GCM_SENDER_ID</key>
	<string>626434709041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ihdz</string>
	<key>PROJECT_ID</key>
	<string>ihdz-fbnv6x</string>
	<key>STORAGE_BUCKET</key>
	<string>ihdz-fbnv6x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626434709041:ios:b77d9c5895f814b504a710</string>
</dict>
</plist>